{% extends 'base.html.twig' %}

{% block title %}Apporter vos modifications{% endblock %}

{% block body %}


    <div class="container-modification container">
        <div class="container">
            <h1 class="h1-modification">Apporter vos modifications</h1>
            {{ form_start(form) }}
            <a class="a-edit" href="{{ path('student_show',{'id': student.id}) }}"></a>
            {{ form_widget(form) }}

            <div class="form-group">
                {{ include('student/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            </div>


            <div class="form-group">
                <a href="{{ path('student_show', {'id': student.id}) }}">
                    <button type="button" class="btn btn-signup btn-lg btn-block">Profil</button>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
