{% extends 'base.html.twig' %}

{% block title %}Apporter vos modifications{% endblock %}

{% block body %}

    <div class="container-modification container">
        <div class="container">
            <h1 class="h1-modification">Apportes tes modifications</h1>
        </div>
        <div class="modificationsForm container">
            {{ form_start(form) }}
            <a class="a-edit" href="{{ path('student_show',{'id': student.id}) }}"></a>
            {{ form_widget(form) }}
            <div class="form-group">
                {{ include('student/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

                <a href="{{ path('student_show', {'id': student.id}) }}">
                    <button type="button" class="btn-modification">Voir le profil individuel</button>
                </a>

                <a href="{{ path('student_index', {'id': student.id}) }}">
                    <button type="button" class="btn-modification">Revenir au tableau de bord</button>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
