{% extends 'base.html.twig' %}


{% block title %}Student{% endblock %}

{% block body %}
<div class="container">

        <h1 class="h1-US01_create_Profil">Mes informations</h1>

    <table class="table">
        <tbody>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Date de Naissance</th>
                <td class="td-US01_create_Profil">{{ student.birthday ? student.birthday|date('Y-m-d')}}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Civilité</th>
                <td class="td-US01_create_Profil">{{ student.sex }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Adresse</th>
                <td class="td-US01_create_Profil">{{ student.postalAdress }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Code Postal</th>
                <td class="td-US01_create_Profil">{{ student.postalCode }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Ville</th>
                <td class="td-US01_create_Profil">{{ student.town }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Numéro de Téléphone</th>
                <td class="td-US01_create_Profil">{{ student.phoneNumber }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Financemet</th>
                <td class="td-US01_create_Profil">{{ student.funding }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Companie d'assurence</th>
                <td class="td-US01_create_Profil">{{ student.insuranceCompany }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Numéro de sociétaire</th>
                <td class="td-US01_create_Profil">{{ student.insuranceNumber }}</td>
            </tr>

            <tr class="tr-US01_create_Profil">
                <th class="th-US01_create_Profil">Identifiant Pole Emploi</th>
                <td class="td-US01_create_Profil">{{ student.poleEmploiId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('student_edit', {'id': student.id}) }}"><button type="button" class="btn">Modifier</button></a>


</div>

{% endblock %}
