{% extends 'base.html.twig' %}

{% block title %}Over View{% endblock %}

{% block body %}

    <h1>Student index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>N° Pole Emploi</th>
            <th>Anniversaire</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.id }}</td>
                <td>{{ student.poleEmploiId }}</td>
                <td>{{ student.birthday ? student.birthday|date('Y-m-d') }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Create new</a>

{% endblock %}